---
import Layout from "../../components/Layout.astro";
---
<Layout pageTitle="Blog de desarrollo" pageDescription="Tutoriales de desarrollo y programacion">
    <h1>Blog</h1>
    <a href="/blog/notas">Mi primer post</a><br/>
    <a href="/blog/tutorial-de-astro">Tutorial de astro</a>
</Layout>
