---
import Layout from "../components/Layout.astro";
---
<Layout pageTitle="Index" pageDescription="Esto es la pagina principal de un portafolio digital de desarrollador">
	<h1>Pagina Inicial</h1>
	<p>Bienvenido a mi blog</p>
</Layout>
